body {
  font-family: 'Roboto', sans-serif;
}

footer {
	height: 14px;
}

footer div p {
	padding-top: 10px;
	font-size: 12px;
	line-height: 100%;
}

.row img {
  max-width: 100%;
}

.content {
  min-height: 90vh;
}

hr {
  margin: 0;
}