footer div p {
	font-size: 12px;
	line-height: 0;
}

.justify-content-sm-center a {
	border: 2px solid black;
	height: 20vw;
	width: 20vw;
}

.justify-content-sm-center a:hover {
	text-decoration: none;
	background-color: black;
}

.justify-content-sm-center a:hover div {
	color: white;
}

.justify-content-sm-center a div {
	color: black;
	height: 100%;
	width: 100%;
	margin-right: 0 !important;
}

.col-sm-6 {
	height: 100%;
	width: 100%;
}