ul {
	list-style: none;
}

footer {
	height: 14px;
}

footer div p {
	padding-top: 10px;
	font-size: 12px;
	line-height: 100%;
}

.content {
  min-height: 90vh;
}

.card {
  width: 100%;
  height: 100%;
  padding: 0;
}

.card .card-body p {
  min-height: 7vh;
}