#main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#reel {
  margin-top: 10%;
  text-align: center;
}

#reel h1 {
  font-size: 13vh;
  color: white;
}

.justify-content-sm-center a {
  border: 2px solid white;
  color: white;
  font-size: 2vh;
}

.justify-content-sm-center a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

footer {
	height: 14px;
}

footer div p {
	padding-top: 10px;
	font-size: 12px;
	line-height: 100%;
}