#main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 96vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

#reel {
  margin-top: 40%;
  text-align: center;
}

#reel h1 {
  font-size: 12vh;
  color: white;
  margin-bottom: 0;
}

.attributes {
  font-size: 4vh;
  color: white;
  font-family: 'Pacifico', cursive;
}

.justify-content-center a {
  border: 2px solid white;
  color: white;
  font-size: 2vh;
}

.justify-content-center a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

footer {
	height: 14px;
}

footer div p {
	padding-top: 10px;
	font-size: 12px;
	line-height: 100%;
}

@media only screen and (min-width: 40.063em) {
  .nav-item:hover {
    border: 2px solid white;
  }
}
