footer {
  height: 14px;
}

footer div p {
  padding-top: 10px;
  font-size: 12px;
  line-height: 100%;
}

#map {
  height: 82vh;
  margin: 0 auto;
}

.content {
  min-height: 80vh;
}

#legend {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30);0 15px 12px rgba(0,0,0,0.22);
  background: white;
  padding: 10px;
  margin: 10px;
}

#legend h3 {
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
}

#legend p {
  margin: 0;
  padding: 0;
  font-size: 10px;
}


#legend img {
  vertical-align: middle;
}