footer {
	height: 14px;
}

footer div p {
	padding-top: 10px;
	font-size: 12px;
	line-height: 100%;
}

.content {
  min-height: 90vh;
}

.card {
  width: 100%;
  flex-wrap: wrap;
  flex: initial; 
  margin: 5%;
  padding: 0;
}
