/*.jumbotron {
    padding: 10% 0px 10% 0px;
    background: url('../images/notredame.png') no-repeat center center;
    color: #FFFFFF;
}*/

.main-content {
    padding: 5%;
}

.carousel-inner {
    max-height: 500px;
    width: 100%;
}

.carousel-page-header {
    color: #FFFFFF;
    /*background: rgba(0, 0, 0, 0.5);*/
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.project-item {
}
